<div>
    <sly-card class="mt15"
              title="Step 1. Path to items catalog"
              subtitle="Copy path to CSV catalog from Team Files and paste it here"
    >
        <div class="fflex">
            <div style="min-width:140px;">Path to CSV catalog:</div>
            <el-input v-model="state.catalogPath"></el-input>
            <el-button class="ml15" type="primary" @click="command('preview_catalog')">
                <i class="zmdi zmdi-view-list-alt" style="margin-right: 5px"></i> Preview catalog
            </el-button>
        </div>
        <sly-table class="mt10"
                   v-if="data.catalog.data.length > 0 && data.catalogError.length === 0"
                   :options="{perPage: state.perPage, pageSizes: state.pageSizes}"
                   :content="data.catalog"
        >
        </sly-table>
        <div class="mt15" v-if="data.catalogError.length > 0" style="color: red">{{data.catalogError}}</div>
    </sly-card>

    <sly-card class="mt15"
              title="Step 3. Directory with reference items"
              subtitle="Put path to the directory with reference items. Directory files will be
              listed below and you can choose files that have to be splitted into batches. Original files remain
              unchanged"
    >
        <div class="fflex">
            <div style="min-width:200px;">Directory with reference items:</div>
            <el-input v-model="state.referenceDir"></el-input>
            <el-button class="ml15" type="primary" @click="command('preview_reference_files')">
                <i class="zmdi zmdi-view-list-alt" style="margin-right: 5px"></i> Preview files
            </el-button>
        </div>
        <div class="mt10" v-if="data.referencePaths.length > 0 && data.referenceError.length === 0">
            <div style="overflow: scroll; max-height: 300px">
                <div v-for="(item,index) in data.referencePaths" :key="index">
                    <el-checkbox class="mt5" v-model="state.referenceSelected[index]">
                        {{data.referencePaths[index]}}
                    </el-checkbox>
                </div>
            </div>
            <el-button class="mt10"
                       type="primary"
                       @click="command('validate_reference_files')"
                       :disabled="state.referenceSelected.filter(Boolean).length == 0"
            >
                <i class="zmdi zmdi-check-all" style="margin-right: 5px"></i> Validate
            </el-button>
        </div>
        <div class="mt10"
             v-if="data.referenceMessage.length > 0"
             :style="{color: data.messageColor}">
            {{data.referenceMessage}}
        </div>
    </sly-card>
    <sly-card class="mt15"
              title="Step 3. Grouping options"
              subtitle="Match reference item with catalog, and define grouping settings"
    >
        <sly-field title="Match reference item with catalog"
                   description="Define mapping between key tag name (key of reference item) and CSV column">
            <sly-icon slot="icon" :options="{ color: '#ea9d22', bgColor: '#fcefd9', rounded: false }">
                <i class="zmdi zmdi-key"></i>
            </sly-icon>
            <div class="fflex">
                <div style="min-width:140px;">
                    Key tag name
                    <el-tag type="primary"><i class="zmdi zmdi-label"></i> {{data.keyTagName}}</el-tag>
                    matched with column
                </div>
                <el-select class="ml10" v-model="state.selectedColumn" placeholder="Select">
                    <el-option v-for="item in data.catalogColumns" :key="item" :label="item" :value="item"></el-option>
                </el-select>
            </div>
        </sly-field>
        <sly-field title="Choose CSV columns for grouping (selection order matters)"
                   description="Reference items will be grouped using one or several columns. Or don't select any
                   column to group reference items randomly (not recommended)">
            <sly-icon slot="icon" :options="{ color: '#ceadff', bgColor: '#f6ebff', rounded: false }">
                <i class="zmdi zmdi-collection-plus"></i>
            </sly-icon>
            <el-select v-model="state.groupByColumns" filterable multiple placeholder="Select columns">
                <el-option
                        v-for="(item, index) in data.catalogColumns"
                        :key="item"
                        :label="item"
                        :value="item"
                ></el-option>
            </el-select>
        </sly-field>
        <sly-field title="Maximum size of group"
                   description="Maximum number of unique reference items in group">
            <sly-icon slot="icon" :options="{ color: '#2cd26e', bgColor: '#d8f8e7', rounded: false }">
                <i class="zmdi zmdi-ruler"></i>
            </sly-icon>
            <el-input-number v-model="state.groupSize" :min="1" :max="100"></el-input-number>
        </sly-field>
        <el-button class="mt10 mb15"
                   type="primary"
                   @click="command('preview_groups')"
                   :disabled="state.groupByColumns.length == 0"
        >
            <i class="zmdi zmdi-check-all" style="margin-right: 5px"></i> Create groups
        </el-button>
        <el-collapse class="mb15">
            <el-collapse-item title="Preview groups" name="1">
                <div class="mb15" v-if="data.groupsPreview.length > 0" style="overflow: scroll; max-height: 400px;">
                    <div v-for="(item, index) in data.groupsPreview" :key="index">
                        <div class="mt15" style="color: green"><b>Group #{{index}}</b></div>
                        <div v-for="(colName, index2) in data.groupColumnNames">
                            <span style="color: #bf00ff"><b>{{colName}}: </b></span>
                            <span style="color: #0040ff">{{data.groupColumnValues[index][index2]}}</span>
                        </div>
                        <div class="mt5" v-html="item.htmlTable"></div>
                    </div>
                </div>
            </el-collapse-item>
        </el-collapse>
        <sly-field title="Save path"
                   description="JSON file with the groups of reference items will be saved to the following path">
            <sly-icon slot="icon" :options="{ color: '#2cd26e', bgColor: '#d8f8e7', rounded: false }">
                <i class="zmdi zmdi-floppy"></i>
            </sly-icon>
            <div class="fflex">
                <el-input v-model="state.savePath" placeholder="Please input save path in Team Files"></el-input>
                <el-button class="ml10"
                           type="primary"
                           @click="command('save_groups')"
                >
                    <i class="zmdi zmdi-floppy" style="margin-right: 5px"></i> Save
                </el-button>
            </div>
        </sly-field>
        <div class="mt10"
             v-if="data.saveMessage.length > 0"
             :style="{color: data.saveColor}">
            {{data.saveMessage}}
        </div>
    </sly-card>
</div>